<%= form_with(model: @task, local: true, url: tasks_path ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="task_content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div class="task_time_limit">
    <%= f.label :time_limit %>
    <%= f.datetime_select :time_limit %>
  </div>

  <%= f.select :priority, [["着手", "already"], ["未着手", "not_yet"]], include_blank: "選択して下さい" %>

  <%= f.submit %>
<% end %>
<%= link_to t('view.back'), tasks_path %>
